In [1]:
import pandas as pd
import os
from pathlib import Path

In [2]:
# Get the current working directory and navigate to project root
current_dir = Path.cwd()
# Assuming the notebook is in src/ directory, go up one level to reach project root
project_root = current_dir.parent
data_dir = project_root / "data"

In [3]:
# Create data directory if it doesn't exist
# data_dir.mkdir(exist_ok=True)

# Construct the full path using Path
file_path = data_dir / "apartments.csv"

print(f"Current working directory: {current_dir}")
print(f"Project root directory: {project_root}")
print(f"Looking for file at: {file_path}")

# Check if file exists
if not file_path.exists():
    print(f"Warning: File does not exist at {file_path}")
    print("Please ensure you have placed the CSV file in the correct location")

Current working directory: c:\DOJO\VSCode Project\Notebooks\Labs\Phase_II_labs\3_rental_marketplace\src
Project root directory: c:\DOJO\VSCode Project\Notebooks\Labs\Phase_II_labs\3_rental_marketplace
Looking for file at: c:\DOJO\VSCode Project\Notebooks\Labs\Phase_II_labs\3_rental_marketplace\data\apartments.csv

In [ ]:
apt_att_file = os.path.join(data_dir, "apartment_attributes.csv")
apt_file = os.path.join(data_dir, "apartments.csv")
bookings_file = os.path.join(data_dir, "bookings.csv")
user_viewing_file = os.path.join(data_dir, "user_viewing.csv")

# Read the CSV files into DataFrames
apt_att = pd.read_csv(apt_att_file)
apt = pd.read_csv(apt_file)
bookings = pd.read_csv(bookings_file)
user_viewing = pd.read_csv(user_viewing_file)

# Display the first few rows of each DataFrame to verify the data
# print("Apartment Attributes DataFrame:")
# print(apt_att.head())
# print("\nApartments DataFrame:")
# print(apt.head())
# print("\nBookings DataFrame:")
# print(bookings.head())
# print("\nUser Viewing DataFrame:")
# print(user_viewing.head())


apt_att

,id,category,body,amenities,bathrooms,bedrooms,fee,has_photo,pets_allowed,price_display,price_type,square_feet,address,cityname,state,latitude,longitude
0,1,2BHK,Happy product model process necessary. Only fo...,"Balcony, Air Conditioning",1,1,168.84,True,False,$1588.42,Monthly,1463,"92525 Holt Turnpike Lake Keith, KY 50153",New York,California,20.457092,0.466220
1,2,Penthouse,Technology past much. Shoulder collection appr...,"Garden, Pet-friendly, Balcony",2,2,202.99,False,True,$3585.32,Yearly,722,"89610 Chang Lane Apt. 295 New Ericaland, NC 28192",Austin,Texas,38.182993,-129.769256
2,3,3BHK,Firm agreement shake design sort. Size source ...,Gym,2,1,488.93,False,False,$1961.69,Monthly,2208,"134 Bryan Island Leefort, VT 48142",Chicago,Illinois,61.585391,-92.597924
3,4,1BHK,Next may hear camera. Heart dinner onto increa...,Garden,3,3,376.10,True,False,$4845.75,Yearly,589,"13660 Amanda Isle East Michaelchester, CT 62513",San Antonio,Texas,-59.015450,6.296552
4,5,1BHK,Space necessary each statement sport early. Fi...,Pet-friendly,2,2,465.79,False,True,$2599.65,One-time,1590,"7915 Laurie Manor Port John, MN 73309",Los Angeles,California,-48.009442,-33.172952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,199996,2BHK,These improve history organization finish. Des...,"Gym, Balcony, Elevator, Wi-Fi",2,3,436.24,True,NaN,$3879.41,One-time,1256,99306 Dyer Turnpike Suite 742 West Christopher...,Austin,Texas,-22.542250,20.266669
199996,199997,1BHK,Even already politics husband dream poor. Sign...,Garden,2,3,396.79,True,NaN,$4484.87,Yearly,2012,"333 Jessica Hills Apt. 481 South Karen, IA 25767",Austin,Texas,9.877821,165.754309
199997,199998,Studio,Try somebody allow keep unit really. So small ...,"Pet-friendly, Balcony, Wi-Fi, Parking",3,2,158.71,False,True,$1680.65,One-time,1002,"0261 Carol Mill Thorntonburgh, SD 30342",Chicago,Arizona,-25.367489,19.158811
199998,199999,3BHK,Card score information among hear seat town al...,Elevator,1,1,114.27,True,NaN,$4897.2,Yearly,983,"5386 Graham Crossing Michaelton, NV 57680",Chicago,New York,-51.178365,35.039715
199999,200000,3BHK,Rock top around sister. Card down modern natio...,"Gym, Wi-Fi",3,3,392.14,True,NaN,$1645.04,One-time,2294,"954 Thompson Meadows Lake Susanville, VT 27394",Chicago,Illinois,-77.704117,159.185924

In [6]:
apt

,id,title,source,price,currency,listing_created_on,is_active,last_modified_timestamp
0,1,"Johnson, Fowler and Johnson",Realtor,4020.95,EUR,27/03/2024,True,27/12/2021
1,2,Kelley-Johnson,Craigslist,1390.01,INR,23/07/2023,True,10/02/2023
2,3,"Gibson, Delgado and Austin",Craigslist,3082.67,INR,15/04/2024,True,02/01/2020
3,4,"Kelly, Smith and Gibson",Zillow,4724.20,USD,27/10/2020,False,23/06/2023
4,5,Carroll-Burch,Airbnb,3867.11,USD,01/02/2021,False,25/07/2022
...,...,...,...,...,...,...,...,...
199995,199996,Travis Group,Craigslist,3941.00,INR,08/12/2021,False,20/01/2021
199996,199997,"Cox, James and Andrews",Craigslist,2410.36,USD,06/06/2023,True,20/01/2021
199997,199998,"Brown, Cunningham and Myers",Airbnb,4849.38,USD,21/12/2020,True,26/11/2022
199998,199999,Smith Group,Realtor,3606.85,USD,08/09/2022,False,07/09/2022
199999,200000,Smith-Matthews,Apartments.com,2183.74,INR,07/11/2022,False,02/06/2021

In [7]:
bookings

,booking_id,user_id,apartment_id,booking_date,checkin_date,checkout_date,total_price,currency,booking_status
0,1,2920,130940,11/11/2022,07/09/2024,30/06/2023,2923.67,EUR,confirmed
1,2,2788,191497,17/05/2024,07/07/2024,06/09/2021,4645.29,EUR,pending
2,3,9285,139117,26/11/2022,12/02/2025,07/04/2023,1683.99,INR,canceled
3,4,8161,118131,09/07/2020,25/10/2024,08/02/2021,1870.62,USD,confirmed
4,5,6733,43470,08/05/2024,31/01/2022,29/10/2024,3379.44,INR,pending
...,...,...,...,...,...,...,...,...,...
499995,499996,1678,7908,11/05/2023,27/05/2023,17/12/2023,2072.94,EUR,confirmed
499996,499997,1469,86380,08/07/2024,15/04/2022,02/03/2023,1883.51,USD,canceled
499997,499998,9954,108539,11/09/2023,19/04/2023,04/11/2023,3944.99,INR,confirmed
499998,499999,1491,154997,31/12/2022,27/02/2021,12/04/2020,2299.31,USD,pending
499999,500000,9924,20154,31/07/2023,06/02/2024,23/01/2021,3981.03,USD,pending

In [8]:
user_viewing

        user_id  apartment_id   viewed_at  is_wishlisted call_to_action
0          5353        180678  23/01/2023          False       Reported
1          8341         12140  14/05/2021           True       Reported
2          5517         72896  27/06/2023           True  Contact Agent
3          1710         19727  15/10/2022           True    Shortlisted
4           896         44550  06/02/2020          False       Reported
...         ...           ...         ...            ...            ...
299995     6517         33472  28/05/2023           True  Contact Agent
299996     4160        179549  24/12/2022          False  Contact Agent
299997     3844         34491  03/01/2021          False  Contact Agent
299998     6507        129620  26/03/2023          False    Shortlisted
299999     3217         67308  08/02/2022           True    Shortlisted

[300000 rows x 5 columns]